<app-navigation
  class="pc-sidebar"
  [ngClass]="{
    'navbar-collapsed': navCollapsed,
    'mob-open': navCollapsedMob
  }"
  (NavCollapse)="this.navCollapsed = !this.navCollapsed"
/>
<app-nav-bar (NavCollapsedMob)="navMobClick()" (NavCollapse)="this.navCollapsed = !this.navCollapsed" />
<div class="pc-container">
  <div class="coded-wrapper">
    <div class="coded-content">
      <div class="coded-inner-content">
        <app-breadcrumb />
        <div class="main-body">
          <div class="page-wrapper">
            <router-outlet />
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="pc-menu-overlay" (click)="closeMenu()" (keydown)="handleKeyDown($event)" tabindex="0"></div>
</div>
<footer class="pc-footer">
  <div class="footer-wrapper container-fluid">
    <div class="row">
      <div class="col my-1">
        <p class="m-0">
          Copyright &copy;
          <a href="https://www.esdeva.com.br" target="_blank">Esdeva Indústria Gráfica</a>
        </p>
      </div>
      <div class="col-auto my-1">
        <ul class="list-inline footer-link mb-0">
          <li class="list-inline-item"><a href="https://wa.me/5532984446243?text=Ol%C3%A1!%20Estou%20em%20busca%20de%20melhorias%20e%20controle%20para%20meu%20neg%C3%B3cio.%20Como%20voc%C3%AA%20pode%20me%20ajudar%20a%20alcan%C3%A7ar%20isso%3F" target="_blank">By Double A Solutions</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
<app-configuration />
