<div class="auth-main">
  <div class="auth-wrapper v3">
    <div class="auth-form">
      <div class="auth-header">
        <a href="//192.168.0.112/intranet/">
          <img src="assets/images/logo.png" alt="logo" width="160" height="60" />
        </a>
      </div>
      <h1>Controle de Tintas</h1>

      <div class="card my-5">
        <div class="card-body">
          <div class="d-flex justify-content-between align-items-end mb-4">
            <h3 class="mb-0"><b>Recuperar Senha</b></h3>
            <a [routerLink]="['/login']" class="link-primary">Voltar para o login</a>
          </div>

          <p class="text-muted mb-4">Informe seu e-mail para receber as instruções de recuperação de senha.</p>

          <div class="form-group mb-3">
            <label class="form-label" for="email">Email</label>
            <input type="email" class="form-control" id="email" placeholder="Seu email" [(ngModel)]="email" required />
          </div>

          <div class="d-grid mt-3">
            <button type="button" class="btn btn-primary" (click)="enviarInstrucoes()" [disabled]="carregando">Enviar Instruções</button>
          </div>
        </div>
      </div>

      <div class="auth-footer row">
        <div class="col my-1">
          <p class="m-0">
            Copyright &copy;
            <a href="https://www.esdeva.com.br" target="_blank">Esdeva Indústria Gráfica</a>
          </p>
        </div>
        <div class="col-auto my-1">
          <ul class="list-inline footer-link mb-0">
            <li class="list-inline-item">
              <a href="https://wa.me/5532984446243?text=Ol%C3%A1!%20Estou%20em%20busca%20de%20melhorias%20e%20controle%20para%20meu%20neg%C3%B3cio.%20Como%20voc%C3%AA%20pode%20me%20ajudar%20a%20alcan%C3%A7ar%20isso%3F" target="_blank">
                By Double A Solutions
              </a>
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <!-- Modal de carregamento -->
  <div *ngIf="carregando" class="modal-backdrop">
    <div class="modal-content">
      <div class="spinner"></div>
      <p>Enviando Email...</p>
    </div>
  </div>
</div>
